{% extends "base.html" %}

{% block app %}
  
  <div class="span9">
    
    <!-- GRAY BOX -->
    <div class="hero-unit">
      
      <!-- Title -->
      <h1>Elija una opción</h1>
      
      <hr>

      <!-- Description -->
      <p align="justify"> nanananananana</p>
			
    </div><!-- hero-unit -->
     
    <!-- SMALL INFORMATION -->      
    <div class="row-fluid">
      
      <div class="span4">
        <h2>Últimos tweets</h2>
        	<a class="btn" href="/ultimos">Ver</a>
      </div><!--/span-->
      
      <div class="span4">
        <h2>Streaming</h2>
          <a class="btn" href="/streaming">Ver</a>
      </div><!--/span-->

	<div class="span4">
        <h2>Estadísticas</h2>
          <a class="btn" href="/statistics">Ver</a>
      </div><!--/span-->

    </div><!--/row-->

  </div><!--/span9-->

{% endblock %}
